---
layout: default
---
<section>
  <header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
    <!--TEST-->
  </header>
  <div class="row">
    <div class="col-6 col-12-small">
      <h2>Categories</h2>
      <ul class="alt">
        {% for tag in site.tags %}
        <li><h3><a href="{{ site.url }}/tag/{{ tag[0] | slugify }}">{{ tag[0] | capitalize }}</a></h3></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-6 col-12-small">
      <div id="map"></div>

      <script>
      var map = L.map('map',{
        gestureHandling: true,
        fullscreenControl: {
              pseudoFullscreen: true // if true, fullscreen to page width and height
          }
      }).setView([{{site.longitude}},{{site.latitude}}], 8);

      {% for post in site.posts %}
      var marker = L.marker([{{post.longitude}},{{post.latitude}}],{alt:'{{page.title}}'}).addTo(map);
      marker.bindPopup("<img class='image fit popup' src='{{ site.url }}/{{ post.image }}' /><br><b><a href='{{ post.url }}'>{{ post.title }}</a></b><br>{{ post.address }}<br>Departement: {{ post.categoryname }}<br>Categories: {% for tag in post.tags %}{{ tag }} {% endfor %}", {minWidth: 200,maxWidth: 300,}).on('click', clickZoom);
      {% endfor %}

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',

      }).addTo(map);

      L.control.resetView({
          position: "topleft",
          title: "Reset view",
          latlng: L.latLng([{{site.longitude}},{{site.latitude}}]),
          zoom: 8,
      }).addTo(map);

      </script>
    </div>
  </div>
</section>




<!-- Section -->
  <!--<section>
    <header class="major">
      <h2>Erat lacinia</h2>
    </header>
    <div class="features">
      <article>
        <span class="icon fa-gem"></span>
        <div class="content">
          <h3>Portitor ullamcorper</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-paper-plane"></span>
        <div class="content">
          <h3>Sapien veroeros</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-rocket"></span>
        <div class="content">
          <h3>Quam lorem ipsum</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-signal"></span>
        <div class="content">
          <h3>Sed magna finibus</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
    </div>
  </section>-->

<!-- Section -->
  <section>
    <header class="major">
      <h2>Recent additions</h2>
    </header>

    <div class="posts">
      {% for post in site.posts limit:4 %}
      <article>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <a href="{{ post.url }}" class="image"><img src="{{ site.url }}/{{ post.image }}" alt="{{ post.imagealt }}" /></a>

        <ul class="tags">
        {% for tag in post.tags %}
          <li><a href="{{ site.url }}/tag/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
        {% if post.imagecredit %}
        <p>Image credit: {{ post.imagecredit }}</p>
        {% else %}
        <p>Image credit: Mark Berthelemy</p>
        {% endif %}
        <!--<p>{{ post.content | truncate: 200 }}</p>-->
        <ul class="actions">
          <!--<li><a href="{{ post.url }}" class="button">More information</a></li>-->
        </ul>
      </article>
      {% endfor %}

    </div>
    <div class="center">
    <!--<p><a class="button primary" href="{{ site.url }}/browse">Browse resources</a></p>-->

    </div>

  </section>
